.jumbotron {
  background-color: rgba(0,0,0,0);
  opacity: 1;
}
.bg-img {
  background-image: url(../img/14444312.jpg);
  background-position: left center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #000099;
}
